@import "../../../styles/abstracts/all.scss";

.modal-dialog {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  .container-flex {
    height: 100%;
    display: grid;
  }
  .modal {
    position: relative;
    background-color: #ffffff;
    margin: auto 30px;

    @include border-radius(10px);

    @include media-md-greater {
      max-width: 800px;
      justify-self: center;
    }
  }
  .close {
    right: 0px;
    top: -30px;
    position: absolute;
  }
}
