@import '../../../../styles/abstracts/all.scss';

.form-element.button {
  &.primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-button-primary);

    &:hover {
      background-color: var(--color-primary-lighten);
      border-color: var(--color-primary-lighten);
    }
    &:active {
      background-color: var(--color-primary-darken);
      border-color: var(--color-primary-darken);
    }
  }

  &.secundary {
    background-color: var(--color-secundary);
    border-color: var(--color-secundary);
    color: var(--color-button-secundary);

    &:hover {
      background-color: var(--color-secundary-lighten);
      border-color: var(--color-secundary-lighten);
      
    }
    &:active {
      background-color: var(--color-secundary-darken);
      border-color: var(--color-secundary-darken);
    }
  }
}
