<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic React Library Project</title>
</head>

<body>
  <div id="app"></div>
  <%= process.env.MODITO %>
    <script>
      /*
      window.onload = function () {
          console.log(projectName);
          projectName.default.init({"saludo": "holi"});
      }
      */
    </script>
</body>

</html>