@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS2svGaA3Yaho4Bw-mJJJpWfBgrTz_LyXLTynQ&skey=62c1cbfccc78b4b2&v=v26') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS2svGaA3Yaho4Bw-mJJJpWfBgrTz_LyXLTynQ&skey=62c1cbfccc78b4b2&v=v26') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS2svGaA3Yaho4Bw-mJJJpWfBgrTz_LyXLTynQ&skey=62c1cbfccc78b4b2&v=v26') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS2svGaA3Yaho4Bw-mJJJpWfBgrTz_LyXLTynQ&skey=62c1cbfccc78b4b2&v=v26') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS2svGaA3Yaho4Bw-mJJJpWfBgrTz_LyXLTynQ&skey=62c1cbfccc78b4b2&v=v26') format('woff2');
}



//https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap&text=%C2%A1Hola%20ni%C3%B1o!
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmSU5vBh0_IsHAgahvMxrdbTdwoZUb-SW97fxXAcNd&skey=11ce8ad5f54705ca&v=v29') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Me4GZNCzcPPuHT3eknFxXbw_jcwPdpmVPIh4UQ&skey=a0a0114a1dcab3ac&v=v29') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmWUlvBh0_IsHAgahvMxrdbTdwoZUb-SW97fxXAcNd&skey=c06e7213f788649e&v=v29') format('woff2');
}